<div class "container">    
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h2 class="text-center">ABOUT UNITE</h2>
            <p class="text-justify">
                Created by the effervescent Candace Fisher, "Unite" aims to be the social hub for entrepeneurs. Meet and greet other 
                entrepeneurs with similar interests and expertise in your area. Gain the insight needed to get your business off 
                the ground. Sign Up is completely FREE!
            </p>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
