<%
=begin%>
 Welcome page afer user signs in with log out button. 
<%
=end%>

<% if notice %>
    <p class="alert alert-success">
      <%= notice %>
    </p>
<% end %>

<h1>Welcome, </h1>
<% if logged_in? %>

    <h1><%= current_user.name %></h1>
<%end%>

<div class="col-8">
  
    <% @meetups.each do |meetup|%>
      <tr>
        <td><%= link_to meetup.title, meetup %></td>
      </tr>
    <% end %>
  
</div>