<div class="container mt-3 mx-auto">
    <div class="row justify-content-around">
        <div class="col-4 text center">
            <h1>Editing Group</h1>

            <%= render 'form', group: @group %>

            <%= link_to 'Show', @group, class: "btn-show" %> 
            <%= link_to 'Back', groups_path, class: "btn-back" %>
        </div>
    </div>    
</div>