<% if notice %>
    <p class="alert alert-success">
      <%= notice %>
    </p>
<% end %>

<h1>Welcome, </h1>
<% if logged_in? %>
    <h1><%= current_user.name %></h1>

   <h4> Meetup <h4> 
   <% @user.meetups.each do |meetup|%>
      <%= link_to meetup.title, meetup_path(meetup) %>
      
    <% end %>
<%end%>