<h1>About Unite</h1>
<p>
    Unite is a project that was designed to help aspiring entreprenuers to find other aspiring entreprenuers, investors, and business partners to help launch their million dollar idea.
  <br>It's a quick way to network and gain knowledge about categories that may not be your expertise.
</p>

<p>
    This website was originally created as a final project for Code the Dream's Ruby on Rails bootcamp class and was collaborated on for the Code the Dream Rails Practicum. 
</p>
