/* BLUE button for new actions or creating ei. creating a new user, a new meetinga new group
** GREEN shows
** RED button deletes
** YELLOW edits
** GRAY back to previous page
*/
.btn-create{
    background-color:blue;
    color: white;  
    border-radius: 7px;
    border-color: azure;
    margin-top: 10px;
    padding: 8px;
    text-decoration: none;
  &a:link{
    color:clear; 
  }  
  &:hover{
    background-color:rgb(6, 6, 200);
    color: white;
    text-decoration: none;

  } 
  &:visited{
    color:clear;
  }
}

.btn-show {
    background-color:clear;
    color:rgb(89, 218, 121); 
    border-radius: 7px; 
    border-color: rgb(89, 218, 121);
    margin-top: 5px;
    padding: 8px;
    text-decoration: none;
  &a:link {
   color:clear; 
  }  
  &:hover {
    background-color:rgb(89, 218, 121) ;
    color: white;
    text-decoration: none;

  } 
  &:visited {
    color:clear;
  }
}

.btn-edit {
    background-color:clear;
    color: rgb(248, 193, 41);  
    border-radius: 7px;
    border-color: rgb(248, 193, 41);
    margin-top: 10px;
    padding: 8px;
    text-decoration: none;
  &a:link {
   color:clear; 
  }  
  &:hover {
    background-color:rgb(248, 193, 41) ;
    color: white;
    text-decoration: none;

  } 
  &:visited {
    color:clear;
  }
}


.btn-delete {
    background-color:clear;
    color: rgb(246, 15, 15);  
    border-radius: 7px;
    border-color: rgb(246, 15, 15);
    margin-top: 10px;
    padding: 8px;
    text-decoration: none;
  &a:link {
   color:clear; 
  }  
  &:hover {
    background-color:rgb(246, 15, 15);
    color: white;
    text-decoration: none;

  } 
  &:visited {
    color:clear;
  }
}

.btn-back {
    background-color:clear;
    color:rgb(125, 125, 127); 
    border-radius: 7px; 
    border-color: rgb(125, 125, 127);
    margin-top: 5px;
    padding: 8px;
    text-decoration: none;
  &a:link {
   color:clear; 
  }  
  &:hover {
    background-color:rgb(125, 125, 127) ;
    color: white;
    text-decoration: none;

  } 
  &:visited {
    color:clear;
  }
}