/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
    margin: 0;
    background-color: rgb(243, 230, 225);
}

p {
    padding: .625rem;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(5, 189, 189);
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    justify-content: space-between;
}

/* Change the color of links on hover */
.topnav,
.navbar a:hover {
    color: black;
}

.jumbotron {
    background-image: url('teal.jpg');
    background-size: cover;
    width: 100%;
    border-style: double;
}

.container {
   color: black;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 3.5rem;
}

.footer {
    bottom: 0;
    width: 100%;
    position: fixed;
    align-items: center;
    text-align: center;    
    background-color: teal;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 3.5rem;  /* Footer height */
}

.footer a {
    display: block;
    color: white;
    align-items: center;
    text-align: right;
    text-decoration: none;
    font-size: 14px;
    padding: 14px 16px;
}

@font-face {
    font-family: 'Acme';
    src: url('Acme.ttf');
}

h1 {
    font-family: 'Acme';
    padding: 15px;
}

.card {
    border-color: black;
}
.main-content {
    width: 60%;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
    margin: 5em auto;
}

label{
    display: block;
}

input, select, textarea{
    padding: 5px;
    min-width: 40vw;
    border-radius: 5px;
    border: thin wheat solid;
    
}
.login_form{
    margin-left: 10px;
}

.login_form input{
    min-width: 0;
}

input[type=text]:focus, select:focus{
    border: thin whitesmoke solid;
    background-color: rgba(5,189,189,0.2);
}